
# See http://help.github.com/ignore-files/ for more about ignoring files.

.package-lock.json

# compiled output
/dist

# IDEs and editors
.history


# Dependency directories
node_modules/

# dotenv environment variables file
.env

# System Files
.DS_Store
Thumbs.db